/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


:root {
    /* Fonts */
    --heading: "Helvetica-neue";
    --regular: "Arial";
    /* Colors */
    --blue-main: #4ad6ed;
    --yellow-main: #ffed00;
    --black: #000000;
    --white: #ffffff;

}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.city-menu {
    font-size: 18px;
    text-align: center;
    vertical-align:middle;
    border-radius: 5px;
}

a {
  color: #0077cc;
}

.fit {
    width: min-content;
}

h2 {
    color: #4ad6ed;
    font-family: Arial;
}

.logo {
    width: max-content;
    height: 10%;
 
}

.colourbar {
    background-color: #4ad6ed;
    height: 15px;
    margin-bottom: 1%;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--blue-main);
  border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 45px;
}
