html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#cityInput {
    width: 70%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 15px;
    border: solid 1px grey;
}
.subtext {
    color: black;
    font-weight: bolder;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.custom-col {
    margin: 5px;
    margin-right: 5px !important;
    padding: 0;
}

.custom-col > .col {
    padding: 0;
}

.weathervalue {
    color: #4ad6ed;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    display: inline-block;
    width: 140px;
 
}